

            .pagos{
                margin-top: 200px;
            }
           


        


    .section{ 
        background-color: rgba(8, 8, 8, 0.952);
        display: flex;        

    }
        .articulos{
            background-color: rgba(0, 0, 0, 0.925);
            flex: 2 1 40%;
            display: flex;
            flex-flow: row wrap ;
            
        }

        
            .article{
                background-color: rgba(0, 0,0,.5);
                flex: 1 1 45%;
                font-family: 'Lobster', cursive;
                color: aliceblue;
                font-weight: 300;
                font-size: 20px;
                letter-spacing: 1px;
                margin: 10px 10px 0 0;     
                

            }

            .article img{
                width:  100%;
            }

                .navegacion{
                    background-color: rgba(253, 242, 92, 0.89);
                    flex: 1 1 100%;
                    margin: 10px 10px 0 0px;
                    height: 200px;
                    
                }
                .navegacion a {
                    font-family: 'Lobster', cursive;
                    color: aliceblue;
                    font-weight: 300;
                    font-size: 20px;
                    letter-spacing: 1px;
                    
                    
                }

                .navegacion p{
                    font-family: 'Lobster', cursive;
                    color: rgb(0, 0, 0);
                    font-weight: 300;
                    font-size: 20px;
                    letter-spacing: 1px;
                    background-color: rgba(255, 255, 255, 0.534);
                    text-align: center;
                    margin-top: -20px;
                    
                    
                }
        .aside{
            background-color: rgba(14, 12, 12, 0.63);
            flex: 1 1 auto;
            width: 20%;
        }        

        .aside img{
            width: 100%;
        }
            .publicidad{
                background-color: rgba(101, 54, 196, 0.541);
            }


   



.carousel{
    width: 90%;
}




.map{
    display: flex;
    justify-content: center;
}
.bimag {
    border-radius: 15%;
}



p::selection{
    background-color: brown;
}






