.footer{
    background-color: #000;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    }
        .pie{ background-color: rgba(236, 232, 230, 0.918);
            text-align: center;
            
            }
        .pie a{
            font-family: 'Lobster', cursive;
            color: rgb(0, 2, 3);
            font-weight: 300;
            font-size: 15px;
            letter-spacing: 1px;
            text-align: center;
        }
