%textos-nav{
    color: #fff;
    font-size: 22px;
    text-transform: uppercases;
    padding: 0 20px;
    letter-spacing:2px;
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Lobster', cursive;
}
%titulos-carrusel{
    text-align: center;
        font-family: 'Lobster', cursive;
        color: rgb(138, 9, 9);
        font-weight: 300;
        font-size: 25px;
        letter-spacing: 1px;
        text-shadow: 1px 0 0 rgb(252, 255, 61);
}

%h1{
    font-family: 'Lobster', cursive;
        color: antiquewhite;
        text-align: center;
        line-height: 1.6;
        font-weight: 300;
        background-color: rgba(0, 0,0,.5);
        text-align: center;
}

%articulos{
    background-color: rgba(0, 0,0,.5);
    flex: 1 1 45%;
    font-family: 'Lobster', cursive;
    color: aliceblue;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 1px;
    margin: 10px 10px 0 0;   
}