*{margin: 10px;
padding: 0px;
box-sizing: border-box;
text-decoration: none;}

.margen-interno{
    margin: 0 50px;
}

.padre{
display: flex;
flex-flow: column nowrap;
width: 100%;
}

body{background-color: #000;}
    .header{
        background-image: url( ./Images/fondo3.jpg);
        padding-top: 2cm;
        background-position: center;
        background-attachment: contain;
        background-size:cover ;
        display: flex;
        flex-flow: column nowrap;
        
        
    }
        .menu{
            background-color: rgba(0, 0,0,.3);
            display: flex;
            flex-flow: row nowrap;
            height: 100px;
            align-items: center;
            
            }


            

            .logo{
                
                flex:1 1 auto; 
                  }
                  .logo a{
                      color:#fff;
                      justify-content: center;
                  }
                  .log{
                      width: 100%;
                      border-radius: 30%;
                  }                

           
        
            
            .nav{
                
                flex: 5 1 auto;
                display: flex;
               
                
            }


            .nav a {
                color: #fff;
                font-size: 22px;
                text-transform: uppercases;
                padding: 0 20px;
                letter-spacing:2px;
                display: inline;
                font-family: Arial, Helvetica, sans-serif;
                font-family: 'Lobster', cursive;
                cursor: pointer;
             }

             .nav a:hover {
                 color:rgb(241, 245, 35);
                 transform: scale(2);
                 transition: 150ms;
                 width: 100%;}


            .social{
                
                flex: 1 1 auto;
                display:flex;
                justify-content: right;
                width: 100%;
                
            }
            
            
            

            .red{
                display: flex;
                width: 100%;
                
                    
            }
            .pagos{
                margin-top: 200px;
            }
           


        .texto-principal{
            height: 300px;
            display: flex;
            align-items: center;
            
            
            }
        .titulo-carrusel{
            
                text-align: center;
                font-family: 'Lobster', cursive;
                color: rgb(138, 9, 9);
                font-weight: 300;
                font-size: 25px;
                letter-spacing: 1px;
                text-shadow: 1px 0 0 rgb(252, 255, 61);
                 
        }
            h1{
                background-color: rgba(0, 0,0,.5);
                text-align: center;
            }


    .section{ 
        background-color: rgba(8, 8, 8, 0.952);
        display: flex;        

    }
        .articulos{
            background-color: rgba(0, 0, 0, 0.925);
            flex: 2 1 40%;
            display: flex;
            flex-flow: row wrap ;
            
        }

        h3 {
            color: wheat;
            font-size: 25px;
            padding: 10px 0;
            
            
        }
            .article{
                background-color: rgba(0, 0,0,.5);
                flex: 1 1 45%;
                font-family: 'Lobster', cursive;
                color: aliceblue;
                font-weight: 300;
                font-size: 20px;
                letter-spacing: 1px;
                margin: 10px 10px 0 0;     
                

            }

            .article img{
                width:  100%;
            }

                .navegacion{
                    background-color: rgba(253, 242, 92, 0.89);
                    flex: 1 1 100%;
                    margin: 10px 10px 0 0px;
                    height: 200px;
                    
                }
                .navegacion a {
                    font-family: 'Lobster', cursive;
                    color: aliceblue;
                    font-weight: 300;
                    font-size: 20px;
                    letter-spacing: 1px;
                    
                    
                }

                .navegacion p{
                    font-family: 'Lobster', cursive;
                    color: rgb(0, 0, 0);
                    font-weight: 300;
                    font-size: 20px;
                    letter-spacing: 1px;
                    background-color: rgba(255, 255, 255, 0.534);
                    text-align: center;
                    margin-top: -20px;
                    
                    
                }
        .aside{
            background-color: rgba(14, 12, 12, 0.63);
            flex: 1 1 auto;
            width: 20%;
        }        

        .aside img{
            width: 100%;
        }
            .publicidad{
                background-color: rgba(101, 54, 196, 0.541);
            }


    .footer{
    background-color: #000;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    }
        .pie{ background-color: rgba(236, 232, 230, 0.918);
            text-align: center;
            
            }
        .pie a{
            font-family: 'Lobster', cursive;
            color: rgb(0, 2, 3);
            font-weight: 300;
            font-size: 15px;
            letter-spacing: 1px;
            text-align: center;
           

        }


h1{
    font-family: 'Lobster', cursive;
    color: antiquewhite;
    text-align: center;
    line-height: 1.6;
    font-weight: 300;
    
}
h4{
    font-family: 'Lobster', cursive;
    color: antiquewhite;
    text-align: center;
    line-height: 1.6;
    font-weight: 300;
    font-size: 22px;

}
h3{
    font-family: 'Lobster', cursive;
    color: antiquewhite;
    text-align: center;
    line-height: 1.6;
    font-weight: 300;

}
.h3-navegacion{
    font-family: 'Lobster', cursive;
    color: rgb(15, 13, 9);
    text-align: center;
    line-height: 1.6;
    font-weight: 300;
}

.carousel{
    width: 90%;
}

.precios{
            font-family: 'Lobster', cursive;
            color: rgba(0, 0, 0, 0.89);
            font-weight: 300;
            font-size: 50px;
            letter-spacing: 1px;
            text-align: center;
            background-color: antiquewhite;
}
.col p{
    font-family: 'Lobster', cursive;
            color: wheat;
            font-weight: 300;
            font-size: 30px;
            letter-spacing: 1px;
            text-align: center;


}
.tmap{
    font-family: 'Lobster', cursive;
            color: wheat;
            font-weight: 300;
            font-size: 30px;
            letter-spacing: 1px;
            text-align: center;

}
.map{
    display: flex;
    justify-content: center;
}
.bimag {
    border-radius: 15%;
}

@media all and (max-width: 800px){
    .section{
        flex-direction: column;
    }
    .menu{
        flex-direction: column;
        height: auto;
    }
    .aside{
        display: flex;
        justify-content: center;
    }
   

}
@media all and (min-width: 300px) and (max-width: 800px){
.aside{
    width: 100%;
}
}
@media all and (min-width: 300px) and (max-width: 400px) {
    .red{
        width: 50%;
    }
 }




@media all and (max-width: 600px){
    .articulos{
        flex-direction: column;
    }
}

@media all and (min-width: 300px) and (max-width: 1200px) {
    .nav1{
        display: flex;
    }
 }
@media all and (max-width: 400px){
    .aside{
        flex-direction: column;
       
    }
}
@media all and (max-width: 1200px){
    .indexh1{
        display: none;
       
    }
}


@media all and (min-width: 1000px){
    .nav{
        display:flex;
        flex-wrap: nowrap;
    }
}

